@model WaverleyKls.Enrolment.ViewModels.GuardianConsentsViewModel
@{
    ViewData["Title"] = "Parent/Guardian Declaration and Agreement";
}

@section scripts
{
    <script>
        "use strict";

        (function($) {
            var $labels = $(".checkbox-label");
            $.each($labels, function (i, label) {
                var $label = $(label);
                if ($label.has(".input-validation-error").length) {
                    $label.parent().addClass("has-error");
                } else {
                    $label.parent().removeClass("has-error");
                }
            });
        })(jQuery);
    </script>
}

<div class="row">
    <h2>Parent/Guardian Declaration and Agreement</h2>

    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-horizontal" asp-controller="Enrolment" asp-action="SetGuardianConsents" method="post">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>I certify that the information provided on this form is true and correct and:</p>
                <ul>
                    <li>Agree to the school's terms and conditions of enrolment</li>
                    <li>
                        Authorise, where applicable, the Principal or teacher in charge (where the Principal or teacher in charge is unable to contact me, or it is otherwise impractical to contact me), to: (cross out any unacceptable statement)
                        <ul>
                            <li>Consent to my child receiving such medical or surgical attention as may be deemed administer first aid as necessary</li>
                            <li>Administer such first aid as the Principal or staff member may judge to be reasonably necessary</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-label">
                    <input asp-for="AgreeToc" />
                    Yes, I agree with the statement above.
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>I acknowledge that school may take photos for your child during the school periods and those photos taken can be used for school's various activities including social media.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-label">
                    <input asp-for="AgreePhoto" />
                    Yes, I agree with the statement above.
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>I understand that school may send text messages through your mobile number to notify school's activities.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-label">
                    <input asp-for="AgreeSms" />
                    Yes, I agree with the statement above.
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>I understand that school may send Kakaotalk messages through your Kakaotalk account to notify school's activities.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-label">
                    <input asp-for="AgreeKakaoTalk" />
                    Yes, I agree with the statement above.
                </label>
            </div>
        </div>
        <div class="form-group">
            <p>Please leave any comments regarding to your child.</p>
            <textarea class="form-control" asp-for="Comments"></textarea>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-default" name="Direction" value="prev">&lt;&lt; Prev</button>
            <a class="btn btn-warning" asp-controller="Enrolment" asp-action="ClearEnrolmentForm">Start Over</a>
            <button type="submit" class="btn btn-primary" name="Direction" value="next">Next &gt;&gt;</button>
        </div>
    </form>
</div>