@model WaverleyKls.Enrolment.ViewModels.GuardianDetailsViewModel
@{
    ViewData["Title"] = "Parent/Guardian Details";
}

<div class="row">
    <h2>Parent/Guardian Details</h2>

    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-horizontal" asp-controller="Home" asp-action="SetGuardianDetails" method="post">
        <div class="form-group">
            <input class="form-control" asp-for="FirstName" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="MiddleNames" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="LastName" />
        </div>
        <div class="form-group">
            <label class="control-label control-label-placeholder" asp-for="Relationships"></label>
            @foreach (var item in Model.Relationships)
            {
                <label class="control-label-normal">
                    <input asp-for="RelationshipToStudent" type="radio" value="@item.Value" /> @item.Text
                </label>
            }
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="HomePhone" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="WorkPhone" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="MobilePhone" />
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Email" />
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-default" name="Direction" value="prev">&lt;&lt; Prev</button>
            <a class="btn btn-warning" asp-controller="Home" asp-action="ClearEnrolmentForm">Start Over</a>
            <button type="submit" class="btn btn-primary" name="Direction" value="next">Next &gt;&gt;</button>
        </div>
    </form>
</div>